@model InvoiceApp.ViewModels.PaymentViewModel
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment</h2>

<div class="container">

    @using (Html.BeginForm("Save", "Payment"))
    { 
    <div class="row">
        <div class="col-md-3">

            <div class="form-group">
                <label> Customer</label>
                @Html.DropDownListFor(p => p.Payment.CustomerID, new SelectList(Model.Customers, "ID", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Payment.CustomerID)
            </div>

            <div class="form-group">
                <label> Payment Method</label>
                @Html.DropDownListFor(p => p.Payment.PaymentMethod,new SelectList(Model.PaymentMethods), new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label> Amount</label>
                @Html.TextBoxFor(p => p.Payment.Amount, new { @class = "form-control textAlignRight" })
                @Html.ValidationMessageFor(p => p.Payment.Amount)
            </div>
            
        </div>

        <div class="col-md-3">
            
            <div class="form-group">
                <label> Balance</label>
                @Html.TextBoxFor(p => p.Payment.Balance, new { @class = "form-control textAlignRight", disabled = true})
                @Html.ValidationMessageFor(p => p.Payment.Balance)
            </div>

            <div class="form-group">
                <label> Payment Date</label>
                @Html.TextBoxFor(p => p.Payment.PaymentDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Payment.PaymentDate)
            </div>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-primary" id="btnSave" type="submit">Save</button>
    </div>

    <div class="row">

    </div>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#Payment_PaymentDate").datepicker({

                dateFormat: "yy-mm-dd"

            })

            $("#Payment_CustomerID").on("change", function () {               

                $.ajax({
                    async:false,
                    type: 'GET',
                    url: '/Payment/GetOpeningBalance/',
                    data: { customerid: this.value },
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {

                        if (data.balance != '') {
                            $("#Payment_Balance").val($.number(data.balance, 2));
                        }
                    }
                });

            })
            
            
        })
    </script>
}
